.Root {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 380px;
    border: 1px solid var(--color-gray);
}

.Root > div:first-child { border-top: none; }
.Root > div:last-child  { border-bottom: none; }

.Container {
    align-items: center;
    display: flex;
    padding: 10px 5px;
    height: 50px;
    gap: 15px;
}

.Image {
    height: 60px;
    width: 60px;
}

.Image img {
    height: 100%;
    width: 100%;
}

.Title {
    color: var(--color-white);
}

.Inactive {
    border-block: 1px solid var(--color-gray-50);
    background-color: var(--color-black-50);
}

.Active {
    border-block: 1px solid var(--color-orange);
    background-color: var(--color-orange-50);
}

.Test {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 10px;
    gap: 15px;
}

.TitleB {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.TitleB img {
    height: 18px;
    width: 18px;
}

.Button {
    color: var(--color-white);
    padding: 3px 25px;
    font-size: 12px;
    border-radius: 0;
    border: 1px solid var(--color-red);
    background-color: var(--color-red-50);
}