.Root {
    width: 400px;
    height: 100px;
    background: #0b0b0b;
    box-shadow: 0 0 0 2px #f4f4f4 inset;
    color: white;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
    gap: 5px;
    padding: 7px;
}

.TopLeftUpper {
}

.TopLeftBottom {
}


/* TOP LEFT */
.TopLeft {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

/* TOP RIGHT */
.TopRight {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: end;
    text-align: right;
}

/* BOTTOM LEFT */
.BottomLeft {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: end;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 50px;
    line-height: 57px;
    /* transform: translateX(-6px); */
    /* letter-spacing: -10px; */
}

/* BOTTOM RIGHT */
.BottomRight {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end;
    text-align: right;
}