.Root {
    width: 110px;
    height: 110px;
    background: #f4f4f4;
    clip-path: polygon(
            0 0,
            70% 0,
            100% 30%,
            100% 100%,
            0 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.Inner {
    width: 100%;
    height: 100%;
    background: #0b0b0b;
    clip-path: polygon(
            0 0,
            70% 0,
            100% 30%,
            100% 100%,
            0 100%
    );
}

.Container {
    display: flex;
    align-items: end;
    height: 100%;
    color: white;
    line-height: 25px;
    padding: 0 5px;
}
