.Root {
    display: flex;
    gap: 2px;
    align-items: center;
}

.Filled {
    width: 8px;
    height: 20px;
    background-color: #f2f2f2;
}

.Empty {
    width: 8px;
    height: 20px;
    box-shadow: 0 0 0 1px #f2f2f2 inset;
    opacity: 0.9;
}
