@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@font-face {
    font-family: "Corbel";
    src: url("assets/corbelRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Corbel";
    src: url("assets/corbelBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    --color-green: rgb(0, 230, 0);
    --color-red: rgb(230, 0, 0);
    --color-orange: rgb(105, 45, 15);
    --color-white: rgb(205, 205, 205);
    --color-gray: rgba(90, 90, 90);
    --color-black: rgb(0, 0, 0);

    --color-red-50: color-mix(in srgb, var(--color-red), transparent 50%);
    --color-orange-50: color-mix(in srgb, var(--color-orange), transparent 50%);
    --color-gray-50: color-mix(in srgb, var(--color-gray), transparent 50%);
    --color-black-40: color-mix(in srgb, var(--color-black), transparent 40%);
    --color-black-50: color-mix(in srgb, var(--color-black), transparent 50%);
}

body {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    background-color: #202020;
    font-family: "Corbel", sans-serif;
}